<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<tbody>
<div class="n_bodymid_bf">
    {#     表格头部  #}
    <table width="640" class="n_table_jiebf" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td width="25" height="30" class="n_bf_bt">{paragraph_chapter}</td>
            <td width="499" class="n_text_block_bs"><a name="34255109_000"></a> 2</td>
            <td width="116" class="n_table_jiebf_zzs">总字数： <span class="n_text_block_bs">{paragraph_word_count}</span>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <table width="640" class="n_table_jiebfs" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                    <tr>
                        <td width="90" style="text-indent: 1em;">相似文献列表</td>
                        <td width="150" class="n_table_jiebf_fzb">文字复制比：</td>
                        <td width="100">
                            <div class="n_jcjg_am">{paragraph_similarity}</div>
                        </td>
                        <td class="n_table_jiebf_fzb" style="text-align: left;">疑似剽窃观点（0）</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    {#     表格中段 数据  #}
    <div class="n_xu">
        <table class="n_table_a" border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td width="20" class="n_xu_a n_text_back_a">{index}</td>
                <td width="500" class="n_text_G2"><a href="http://www.cnki.net" target="_blank">{paragraph_title}</a>
                </td>
                <td width="100" class="n_xu_d n_text_red_d">{paragraph_similarity}</td>
            </tr>
            <tr>
                <td></td>
                <td class="n_text_block_b"> - 《{paragraph_source}》- {paragraph_year}</td>
                <td width="100" class="n_xu_da">是否引证： <span class="n_text_yz">{paragraph_reference}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="n_bodymid_ywnr" id="Repeater1_ctl00_Red_Content">
    <table width="640" class="n_table_ywtop" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td height="26" class="n_ywnr">原文内容</td>
        </tr>
        </tbody>
    </table>
    <div class="n_ywnr_content" style="-ms-word-break: break-all; -ms-word-wrap: break-word;">{paragraph_text}</div>
</div>
</tbody>
</body>
</html>