<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="resultCont">
                                                    {% for msg in message %}
                                                        <div class="information">
                                                            <div class="inforList">
                                                                <li>
                                                                    <i>订单编号 :</i><span>msg.orderid</span>
                                                                </li>
                                                                <li>
                                                                    <i>标题 :</i><span>msg.title</span>
                                                                </li>
                                                                <li>
                                                                    <i>作者 :</i><span>msg.author</span>
                                                                </li>
                                                                <li>
                                                                    <i>上传时间 :</i><span>msg.postTime</span>
                                                                </li>
                                                                <li>
                                                                    <i>状态 :</i><span>完成</span>
                                                                </li>
                                                            </div>
                                                            {% if msg.state == 4 %}
                                                                <div class="report" style="display:block">
                                                                    <span class="resBtn loadBtn">检测完成</span>
                                                                    <a href="cnki/download/id={{ msg.id }}"
                                                                       class="linkText yl">下载报告</a>
                                                                </div>
                                                            {% elif msg.state == -2 %}
                                                                <div class="again" style="display:block">
                                                                    <span class="resBtn loadBtn redBtn">检测失败</span>
                                                                    <a href="cnki/check_back/id={{ msg.id }}"
                                                                       class="linkText yl">重新检测</a>
                                                                </div>
                                                                </div>
                                                            {% elif msg.state == 1 %}
                                                                <div class="expired">
                                                                    <span class="resBtn disableBtn">正在检测</span>
                                                                </div>
                                                            {% endif %}
                                                    {% endfor %}
                                                </div>
</body>
</html>