<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet" type="text/css" href="/static/cnki2/easyui.css">
<link rel="stylesheet" type="text/css" href="/static/cnki2/icon.css">
<script type="text/javascript" src="/static/cnki2/jquery.min.js"></script>
<script type="text/javascript" src="/static/cnki2/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/cnki2/jquery.easyui.min.js"></script>
<link rel="stylesheet" href="/static/cnki2/base.css">
<title>Detection</title>
<script type="text/javascript">
$(function(){
	  var hasMatchNo = $.cookie('txtMatchNo');
		  if(hasMatchNo){
				 $("input[name='matchNo']").each(function(){
					 if($(this).val() == hasMatchNo){
						 $(this).attr("checked","checked");
					 }
				 });
		  }
		$("input[name='matchNo']").click(function(){
			var match = $(this).val();
			$.cookie('txtMatchNo', match, { expires: 7 });
			//console.log(">>>"+$.cookie('matchNo'))
		});
	$("#submitBtn").click(function(){
		$("#detectionForm").form("submit",{
			url:"/detection/",
			onSubmit: function(){
				if($("#detectionForm input[name='title']").val().length == 0) {
					$.messager.alert("Message","标题不能为空.");
					return false;
				}
				if($("#detectionForm textarea[name='fulltext']").val().length == 0) {
					$.messager.alert("Message","检测内容不能为空.");
					return false;
				}
				return true;
			},
			success: function(data) {
				data = eval("("+data+")");
				if(data.result) {
					$("#detectionForm").form("clear");
					$.messager.alert("Message","提交成功");
				} else {
					$.messager.alert("Message", parseError(data.message));
				}
				
			}
		});
	});
});

function parseError(error){
		switch(error){
 		case "ORDER_QUERY_FAILED":
 			error = "订单查询失败，请重试";
 			break;
 		case "ORDER_NOT_EXIST":
 			error = "订单不存在，请确认订单是否有效或订单不属于当前店铺";
 			break;
 		case "ORDER_USED":
 			error = "订单已经被使用，请使用有效订单";
 			break;
 		case "ORDER_DELIVERY_FAILED":
 			error = "发货失败，请重试";
 			break;
 		case "ORDER_NUMBER_NOT_ENOUGH":
 			error = "订单可用件数不足";
 			break;
 		case "TASK_SUBMIT_FAILED":
 			error = "任务提交失败，请重试";
 			break;
 		case "AGENT_BALANCE_NOT_ENOUGH":
 			error = "代理余额不足，请联系店家";
 			break;
		case "ORDER_NOT_MATCH_PRODUCT":
			error = "订单属于当前店铺，但不属于当前宝贝，请确认订单所属宝贝";
			break;
        case "NUMBER_OF_WOEDS_NOT":
            error = '字符数过多,请选择其他系统类型';
            break;
 		default:
 				error = "未知:"+error;
 				break;
 		}
		return error;
	}
</script>
<style type="text/css">
*{
	font-size:12px;
}
tr {
	height:40px;
}

input {
	height:25px;
	width:600px;
}

.error {
	color:red;
}
</style>
<style type="text/css"></style></head>
<body>
	<form method="post" id="detectionForm">
        {% csrf_token %}
		<table align="center">
			<tbody>
            <tr>
				<td colspan="3"><span class="error">
				  <label>系统选择
				  <select name="select" size="1">
				    <option value="A">A — 系统</option>
				    <option value="P">P — 系统</option>
				    <option value="V">V — 系统</option>
			      </select>
				  </label>
				</span></td>
			</tr>
			<tr>
			  <td>&nbsp;</td>
				<td><div align="center">标题</div></td>
				<td><input type="text" name="title"></td>
			</tr>
			<tr>
			  <td>&nbsp;</td>
				<td><div align="center">作者</div></td>
				<td><input type="text" name="author"></td>
			</tr>
			<tr>
			  <td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
			  <td>&nbsp;</td>
				<td><div align="center">检测内容</div></td>
				<td>
					<textarea style="width:600px;height:350px;" name="fulltext"></textarea>				</td>
			</tr>
			<tr>
				<td colspan="3" style="text-align:center;"><input type="button" id="submitBtn" value="提交检测" style="width:100px;height:30px;cursor:pointer;"></td>
			</tr>
		</tbody></table>
	</form>

</body></html>