<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>登录</title>
<!--图标样式-->
<link rel="stylesheet" href="/static/cnki/all.min.css">
<link rel="stylesheet" href="/static/cnki/stylelogin.css">
<script>if (window.top !== window.self) {
        window.top.location = window.location;
    }</script>
    <script src="/static/cnki/jquery.min.js"></script>
    <script src="/static/cnki/bootstrap.min.js"></script>
<style type="text/css"></style></head>

<body>
<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form class="m-t" role="form" action="/agency/login" method="post">
            {% csrf_token %}
			<h1>代理管理系统</h1>
			<h4 style="color: red;"></h4>
			<span>用户登录</span>
			<input name="username" class="line" type="text" placeholder="账号">
			<input name="password" class="line" type="password" placeholder="密码">
			<a href="/agency/login#"><input type="checkbox" name="remember">&nbsp;&nbsp;记住密码</a>
			<button type="submit">登录</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			
			<div class="overlay-panel overlay-right">
				<h1>你好，欢迎登录</h1>
				<h3>代理管理系统！</h3>
			</div>	
		</div>
	</div>
</div>
<script>
    $(function () {
        $("#kaptcha").on('click', function () {
            $("#kaptcha").attr('src', '/kaptcha?' + Math.floor(Math.random() * 100)).fadeIn();
        });
    });
</script>

</body></html>